.App {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.ingredient-list {
  width: 30%;
}

.ingredient-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 0.3s;
}

.ingredient-item img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.ingredient-item button {
  margin-left: auto;
  padding: 5px 10px;
  background-color: rgb(76, 226, 76);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ingredient-item:hover {
  background-color: #ccc;
}

.ingredient-item button:hover {
  background-color: rgb(76, 226, 76);
}

.burger-composition {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
}

.burger-ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.burger-ingredient button {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.burger-ingredient button:hover {
  background-color: red;
}

.reset-button {
  background-color: rgb(76, 226, 76);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: rgb(55, 212, 55);
}

.total-price {
  font-size: 18px;
  color: #333;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}
